# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/starrun【PROGRAM】/.vs
/starrun【PROGRAM】/Project2/Log.txt
/starrun【PROGRAM】/Project1/Debug
/starrun【PROGRAM】/Project1/.vs
/starrun【PROGRAM】/x64
/starrun【PROGRAM】/Project2/x64
/starrun【PROGRAM】/Project4/Project4/Log.txt
/starrun【PROGRAM】/Project4/Project4/x64
/starrun【PROGRAM】/Project2/StageScroll.cpp
/starrun【PROGRAM】/Project2/StageMove.cpp
/starrun【PROGRAM】/Project2/StageMove.h
/starrun【PROGRAM】/Project2/StageScroll.h
/starrun【PROGRAM】/Project2/Project2.vcxproj.filters
/starrun【PROGRAM】/Project2/image/map.png
/starrun【PROGRAM】/Project2/Project2.vcxproj.filters
/starrun【PROGRAM】/Project2/Project2.vcxproj
/starrun【PROGRAM】/Project2/Project2.vcxproj.user
